.App {
  text-align: center;
}

 
form{
  width: 1170px;
  margin:auto;
  display: flex;
  gap: 20px;
}

form input{
  height: 30px;
  flex-basis: 80%;
}

form button{
  flex-basis: 20%;
}

.outerDiv{
  width: 1170px;
  margin: auto;
}

.outerDiv ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-top: 20px;
}

.outerDiv ul li{
  color: white;
  padding: 10px;
  text-align: left;
  background-color: black;
  font-size: 25px;
  margin-bottom: 20px;
  position: relative;

}

.outerDiv ul li span{
  right: 20px;
  position: absolute;
  cursor: pointer;
}

.completetodo{
  text-decoration: line-through;
  color: red !important;
  background-color: yellow !important;
}